---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { pickRandom } from "../../utils/generic";
const { slug } = Astro.params;

const recipes = await getCollection("recipes");
const filteredRecipes = recipes.filter((recipe) => recipe.data.type === slug);
---

<Layout title={`${slug} items`}>
<main class="p-4 h-screen max-w-screen-lg sm:max-w-xl mx-auto flex flex-col">
    <a class="text-orange-700" href="/">back home</a>
    <article>
      <h1 class="text-2xl bold">
        {slug} items
      </h1>
      {
        filteredRecipes.length === 0 && (
          <p>
            Haha oops we're out of everything try something{" "}
            <a
              class="underline text-orange-500"
              href={`/recipe/${pickRandom(recipes).slug}`}
            >
              random
            </a>
          </p>
        )
      }
      <ul class="my-2">
      {
        filteredRecipes.map((recipe) => (
          <li class="my-2 text-xl">
            {recipe.data.emoji} <a href={`/recipe/${recipe.slug}`}>{recipe.data.name}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
