---
export const prerender = false;
import { getEntry } from "astro:content";
import { processMarkdownRecipe } from "../../utils/recipe";
import Layout from "../../layouts/Layout.astro";
const { slug } = Astro.params;

if (!slug) {
  Astro.redirect("/");
  return;
}

const recipe = await getEntry("recipes", slug);

if (!recipe) {
  Astro.redirect("/");
  return;
}

const { name, author, time } = recipe.data;
const md = processMarkdownRecipe(recipe.body);
---

<Layout title=`${name}`>
  <main class="p-4 h-screen max-w-screen-lg sm:max-w-xl mx-auto flex flex-col">
    <a class="text-orange-700" href="/">back home</a>
    <article>
      <h1 class="text-xl">
        {name} by {author}
      </h1>
      <em>Cooking time: {time}</em>

      {
        md.cookware && md.cookware.length > 0 && (
          <details open>
            <summary class="text-lg my-4">Cookware</summary>
            <ul>
              {md.cookware.map((cookware) => (
                <li>
                  <p>
                    <strong>{cookware.quantity}</strong>{" "}
                    {`${cookware.name}${+cookware.quantity > 1 ? "s" : ""}`}
                  </p>
                </li>
              ))}
            </ul>
          </details>
        )
      }

      <details open>
        <summary class="text-lg my-4">Ingredients</summary>
        <ul>
          {
            md.ingredients.map((ingredient) => (
              <li class="my-2 flex flex-row gap-4">
                <input
                  type="checkbox"
                  class="aspect-square w-[20px] shrink-0"
                />
                <section class="flex flex-row items-center gap-2">
                  <strong>{ingredient.quantity}</strong> {ingredient.unit}{" "}
                  {ingredient.name.toLowerCase()}
                </section>
              </li>
            ))
          }
        </ul>
      </details>

      <h2 class="text-lg my-4">Steps</h2>
      <ol>
        {
          md.steps.map((step) => (
            <li class="flex flex-row items-start my-2 gap-4">
              <p>{step}</p>
            </li>
          ))
        }
      </ol>
    </article>
  </main>
</Layout>
