---
export const prerender = false;
import { getEntry } from "astro:content";
import { parseRecipe } from '../../utils/recipe'
import Layout from "../../layouts/Layout.astro";
import WakeLockToggle from '../../components/WakeLockToggle.svelte'
import Servings from '../../components/Servings.svelte'
import Ingredients from '../../components/Ingredients.svelte'
const { slug } = Astro.params;

if (!slug) {
  Astro.redirect("/");
  return;
}
const recipe = await getEntry("recipes", slug);

if (!recipe) {
  Astro.redirect("/");
  return;
}

const { name, author, time, servings } = recipe.data;
const md = parseRecipe(recipe.body.split('\n'));
const { ingredients, cookware, steps } = md;
---

<Layout title=`${name}`>
  <main class="p-4 h-screen max-w-screen-lg sm:max-w-xl mx-auto flex flex-col">
    <a class="text-orange-700 mb-3" href="/">back home</a>
    <article>
      <h1 class="text-xl">
        <strong>{name}</strong> by {author}
      </h1>
      <em>Cooking time: {time}</em>
      <Servings servingsString={servings} client:load />

      <WakeLockToggle toggleLabel="Keep Awake" client:only="svelte"/>

      {
        cookware && cookware.length > 0 && (
          <details open>
            <summary class="text-lg my-4">Cookware</summary>
            <ul>
              {cookware.map((cookware) => (
                <li>
                  <p>
                    <strong>{cookware.quantity}</strong>{" "}
                    {`${cookware.name}${+cookware.quantity > 1 ? "s" : ""}`}
                  </p>
                </li>
              ))}
            </ul>
          </details>
        )
      }

      <Ingredients client:load ingredients={ingredients} /> 

      <h2 class="text-lg my-4">Steps</h2>
      <ol>
        {
          steps.map((step) => (
            <li class="flex flex-row items-start my-2 gap-4">
              <p>{step}</p>
            </li>
          ))
        }
      </ol>
    </article>
  </main>
</Layout>

<style>
 ol {
    list-style-type: none;
    counter-reset: list-counter;
  }

  ol li::before {
    content: counter(list-counter) ".";
    counter-increment: list-counter;
    margin-right: 5px;
  } 
</style>
